<section class="half-media-text">
  <div class="container-max">
    <div class="grid-container">
      <div class="grid-item half-media-text__media" style="order: {{ image_position }}">
        {%- if video != blank -%}
        <video class="video" crossorigin="anonymous" autoplay playsinline muted loop poster="{{ image | img_url: 'master' }}" preload="none" type="video/mp4" src="{{ video }}"></video>
        {%- else -%}
          {% if image.cloudinary_src != blank %}
            {% render 'responsive-image-acf' with image: image, image_class: "",
            wrapper_class: "", max_width: 1440, max_height: 720 %}
          {% else %}
            {% render 'responsive-image' with image: image, image_class: "",
                wrapper_class: "", max_width: 1440, max_height: 720 %}
          {% endif %}
        {% endif %}
      </div>  
      <div class="grid-item half-media-text__body" style="background-color: {{ bg_color }};">
        <div class="half-media-text__content" style="color: {{ text_color }};">
          {% assign hTag = 'h2' %}
          {% if title_tag %}
            {% assign hTag = title_tag %}
          {% endif %}
          <{{ hTag }} class="half-media-text__title">{{ title }}</{{ hTag }}>
          {% if text != blank %}<div class="half-media-text__text">{{ text }}</div>{% endif %}
          {% if button_text != blank %}<div><a href="{{ button_url }}" class="half-media-text__link secondary-button" style="--sec-color: {% if text_color != blank %}{{ text_color }}{% else %}#fff{% endif %}">{{ button_text }}</a></div>{% endif %}
        </div>
      </div>
    </div>
  </div>
</section>