<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Favicon -->
  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | assets_url }}" type="image/png" />
  {% endif %}

  <!-- Title -->
  <title>
  {{- page_title -}}
  {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{- 'general.meta.tags' | t: tags: meta_tags -}}{%- endif -%}
  {%- if current_page != 1 -%} &ndash; {{- 'general.meta.page' | t: page: current_page -}}{%- endif -%}
  {%- unless page_title contains shop.name -%} &ndash; {{ shop.name }}{%- endunless -%}
  </title>

  <!-- Meta Desc -->
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- SEO and Social Media Meta -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- Shopify Header Hooks -->
  {{ content_for_header }}
  
  <!-- Critical CSS -->
  <style>{% render 'critical-css' %}</style>
  {{ 'common.scss.css' | asset_url | stylesheet_tag }}
  
  {% comment %} TODO: Add Cookie scripts {% endcomment %}
  <!-- Critical JS -->
  <script>{% render 'critical-js' %}</script>
</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }} template-{{ template.suffix }}">
  {% section 'header' %} 
  <main class="main-content" role="main">
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}

<script>
  document.addEventListener('DOMContentLoaded', async function() {
    loadjscssfile("{{ 'common.min.js' | asset_url }}", "js");
    
    //TODO: check for css.liquid load
    //loadjscssfile("{{ 'common.css.liquid' | asset_url }}", "css");

    //Dynamic css/js load
    {% assign jsname = template.name | append: '.min.js' %}
    {% assign scssname = template.name | append: '.scss.css' %}
    loadjscssfile("{{ jsname | asset_url }}", "js");
    loadjscssfile("{{ scssname | asset_url }}", "css");
  }, false);
</script>
</body>
</html>
