{% render 'stylesheet', name: 'ajax-cart' %}
{% comment %}<script src="{{ 'ajax-cart-js.min.js' | asset_url }}" defer="defer"></script>{% endcomment %}

<div class="minicart-wrapper {% if cart.item_count == 0 %}empty{% endif %}" data-ajax-cart-section>
    <div class="overlay" data-ajax-cart-toggle-class-button="js-ajax-cart-opened"></div>
    <div
        aria-modal="true"
        class="minicart"
        role="dialog">
        <div class="minicart__header">
            <h3 class="title">{{ section.settings.cart_title }}</h3>
            {%- if section.settings.cart_text != blank -%}<p class="cart-info">{{ section.settings.cart_text }}</p>{%- endif -%}
            <button class="close-button" data-ajax-cart-toggle-class-button="js-ajax-cart-opened" type="button"></button>
        </div>
        <form action="/cart" method="post">
            <div class="minicart__body">
                <div class="cart-items">
                    {% for item in cart.items %}
                    <div class="cart-items__item" >
                        <div class="cart-items__image">
                            <img alt="{{ item.image.alt }}" class="cover" loading="lazy" sizes="auto" src="{{ item.image | img_url: '250x' }}" width="100" height="150">
                        </div>
                        <div class="cart-items__details">
                            <h6 class="title">
                                <a href="{{ item.url }}">{{ item.product.title }}</a>
                            </h6>
                            <div class="price">
                                <div class="price__wrapper">
                                    <span class="price__original">{{ item.product.compare_at_price | money }}</span>
                                    <span class="price__current">{{ item.product.price | money }}</span>
                                </div>
                            </div>
                            <div class="details">
                                {% unless item.product.has_only_default_variant %}
                                    <ul class="details__options">
                                        {% for option in item.options_with_values %}
                                        <li>{{ option.name }}: {{ option.value }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endunless %}
                                {% unless item.properties == empty %}
                                    <ul class="details__properties">
                                    {% for property in item.properties %}
                                        <li>{{ property.first }}: {{ property.last }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endunless %}
                            </div>
                            <div class="quantity-picker">
                                <a href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity={{ item.quantity | minus: 1 }}"  class="quantity-picker__btn quantity-picker__btn--decrease" type="button">&#8212;</a>
                                <span class="count">{{ item.quantity }}</span>
                                <a href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity={{ item.quantity | plus: 1 }}" class="quantity-picker__btn quantity-picker__btn--increase" type="button">&#43;</a>
                            </div>
                            <a href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity=0" class="remove-btn" type="button">Remove</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="minicart__footer">
                <div class="minicart__footer-titleSection">
                    <h5 class="title">Subtotal</h5>
                    <span class="subtotal">
                        {{ cart.total_price | money }}
                    </span>
                </div>
                <div class="mini-cart__footer-buttonsSection">
                    <a class="secondary-button" href="{{ routes.cart_url }}">
                        Go to cart
                    </a>
                    <button class="primary-button" name="checkout" type="submit">
                        Checkout
                    </button>
                </div>
            </div>
        </form>
        <div class="empty-cartnote">
            <div>
                <h4>{{ section.settings.cart_empty }}</h4>
                <a class="primary-button" href=" {{ routes.all_products_collection_url }}">Shop now</a>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Ajax Cart",
      "settings": 
          [
              {
                  "type": "header",
                  "content": "Main Settings"
              },
              {
                "type": "text",
                "id": "cart_title",
                "label": "Title",
                "default": "My Bag"			
              },
              {
                "type": "text",
                "id": "cart_text",
                "label": "Short text",
                "default": "Free shipping on all domestic orders over $150"			
              },
              {
                "type": "text",
                "id": "cart_empty",
                "label": "Empty cart text",
                "default": "Oops, There’s nothing in your cart"			
              }
          ]
  } 
{% endschema %}