{% include 'breadcrumbs' %}

<!-- /templates/blog.liquid -->
{% paginate blog.articles by 5 %}

  <h1>
    {% if current_tags %}
      {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
    {% else %}
      {{ blog.title }}
    {% endif %}
    <a href="{{ shop.url }}{{ blog.url }}.atom">RSS</a>
  </h1>

  {% for article in blog.articles %}

    {% include 'grid-article-card' %}

  {% endfor %}

  
  {% if paginate.pages > 1 %}
      {% include 'pagination' %}
  {% endif %}

  </div>
</div>

{% endpaginate %}


{% schema %}
{
  "name": "Blog Feed",
  "settings": [
    {
      "type": "checkbox",
      "id": "breadcrumbs_hide",
      "label": "Breadcrumbs Display",
      "default": true
    }
  ]
}
{% endschema %}