<footer data-section-id="{{ section.id }}">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-2">
				<a href="{{ routes.root_url }}" >
					{% if section.settings.logo_path_footer != '' %}
					<img src="{{ section.settings.logo_path_footer }}" width="100" height="100"/>
					{% else %}
					Footer Logo
					{% endif%}
				</a>
			</div>
			<div class="col-12 col-md-6">
				<nav class="" id="" role="navigation">
					{% include 'site-nav', linklist: section.settings.footer_linklist, wrapper_class: 'customClass' %}
				</nav>
			</div>
			<div class="col-12 col-md-4">
				<div class="copyrights">
					<small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ section.settings.copyrights }}</small>
				  </div>
			</div>
		</div>
	</div>
	
</footer>

{% schema %}
{
  "name": {
    "en": "Footer"
  },
  "settings": [
    {
		"type": "header",
		"content": {
			"en": "Main Settings",
			"ru": "Main Settings"
		}
	},
	{
		"type": "text",
		"id": "logo_path_footer",
		"label": {
			"en": "SVG Logo Path Footer",
			"ru": "SVG Logo Path Footer"
		}
    },
	{
		"type": "link_list",
		"id": "footer_linklist",
		"label": {
			"en": "Menu",
			"ru": "Menu"
		},
		"default": "footer"
	},
	{
      "type": "text",
		"id": "copyrights",
		"label": {
			"en": "Copyrights",
			"ru": "Copyrights"
			},
		"default": "©2020 Company"			
	}		
  ]
}
{% endschema %}