<section data-section-id="{{ section.id }}" class="hero" style="background-color: {{ section.settings.hero_bg }};">
	<div class="container-fluid container-lg">
		<div class="row">
			<div class="col-12 col-md-10 hero_col">
				<div class="hero_text_wrapper">
					{% if section.settings.hero_title != '' %}
					<h1 style="transition-delay: .925s;">{{ section.settings.hero_title | escape }}</h1>
					{% endif %}
					{% if section.settings.hero_sub != '' %}
					<h3 style="transition-delay: 1s;">{{ section.settings.hero_sub | escape }}</h3>
					{% endif %}
					<div class="content" style="transition-delay: 1.070s;">{{ section.settings.hero_text }}</div>
					{% if section.settings.hero_btext != '' %}
					<a  style="transition-delay: 1.125s;" class="primary-button" href="{{ section.settings.hero_burl }}">{{ section.settings.hero_btext }}</a>
					{% endif %}			
				</div>	
			</div>
		</div>
	</div>
	<div class="hero-img-wrapper">
			<img class="lazyload"
				src="{{ section.settings.hero_img | img_url: '12x12' }}"
				data-src="{{ section.settings.hero_img | img_url: '710x847' }}"
				data-sizes="auto"
				width="{{ section.settings.hero_img.width }}"
				alt="{{ section.settings.hero_title | escape }}">
	</div>
</section>

{% schema %}
{
  "name": {
    "en": "Hero"
	},
	"class" : "hero-section",
	"settings": [
		{
			"type": "header",
			"content": {
				"en": "Main Settings",
				"ru": "Main Settings"
			}
		},
		{
      "type": "text",
      "id": "hero_title",
      "label": {
        "en": "Title",
        "ru": "Title"
			}
		},
		{
      "type": "text",
      "id": "hero_sub",
      "label": {
        "en": "Sub Title",
        "ru": "Sub Title"
			},
			"default" : "Make-Up – Masterclasses"
		},
		{
      "type": "richtext",
      "id": "hero_text",
      "label": {
        "en": "Text",
        "ru": "Text"
			},
			"default" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>"
		},
		{
      "type": "text",
      "id": "hero_btext",
      "label": {
        "en": "Button Text",
        "ru": "Button Text"
			},
			"default": "Learn more"			
		},
		{
      "type": "url",
      "id": "hero_burl",
      "label": {
        "en": "Button Url",
        "ru": "Button Url"
			}	
		},
		{
      "type": "image_picker",
      "id": "hero_img",
      "label": {
        "en": "Image",
        "ru": "Image"
			}			
		},
		{
      "type": "color",
      "id": "hero_bg",
      "label": {
        "en": "BG Color",
        "ru": "BG Color"
			},
			"default": "#FFF1EE"	
		}		
	],
	"presets": [
		{
			"name": {
				"en": "Hero",
				"ru": "Hero"
			},
			"category": {
				"en": "Home Page",
				"ru": "Home Page"
			}
		}
	]
}
{% endschema %}