<section data-section-id="{{ section.id }}" class="infobanner">
	<span class="bg" style="background-image: url({{ section.settings.info_bg | img_url: 'master' }});"></span>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center infobanner-first">
				<div class="infobanner-innerwrapper">
					<div class="infobanner-text" style="background-image: url({{ section.settings.info_img | img_url: 'master' }});">
						<video playsinline autoplay muted loop poster="{{ section.settings.info_img | img_url: 'master' }}" id="bgvid">
							<source src="{{ section.settings.info_videoo }}" type="video/mp4">
						</video>
						<div class="infobanner-text-inner">
						{% if section.settings.info_pre != '' %}<h5>{{ section.settings.info_pre }}</h5>{% endif %}
						{% if section.settings.info_title != '' %}<h2 class="h1">{{ section.settings.info_title }}</h2>{% endif %}
						{% if section.settings.info_sub != '' %}<h3>{{ section.settings.info_sub }}</h3>{% endif %}
						{% if section.settings.info_btext != '' %}
						<a class="primary-button" href="{{ section.settings.info_burl }}">{{ section.settings.info_btext }}</a>
						{% endif %}	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
  "name": {
    "en": "Info Banner"
	},
	"class" : "infobanner-section",
	"settings": [
		{
			"type": "header",
			"content": {
				"en": "Main Settings",
				"ru": "Main Settings"
			}
		},
		{
      "type": "text",
      "id": "info_pre",
      "label": {
        "en": "Pre Title",
        "ru": "Pre Title"
			},
			"default" : "Lorem ipsum"
		},
		{
      "type": "text",
      "id": "info_title",
      "label": {
        "en": "Title",
        "ru": "Title"
			},
			"default" : "Be your own make-up Artist"
		},
		{
      "type": "text",
      "id": "info_sub",
      "label": {
        "en": "Sub Title",
        "ru": "Sub Title"
			},
			"default" : "Masterclass"
		},
		{
      "type": "text",
      "id": "info_btext",
      "label": {
        "en": "Button Text",
        "ru": "Button Text"
			},
			"default": "Learn more about masterclasses"			
		},
		{
      "type": "url",
      "id": "info_burl",
      "label": {
        "en": "Button Url",
        "ru": "Button Url"
			}	
		},
		{
      "type": "image_picker",
			"id": "info_img",
			"info":"If video filled this become a poster",
      "label": {
        "en": "Image",
        "ru": "Image"
			}			
		},
		{
      "type": "text",
      "id": "info_videoo",
      "label": {
        "en": "Video",
        "ru": "Video"
			}
		},
		{
      "type": "image_picker",
      "id": "info_bg",
      "label": {
        "en": "BG Image",
        "ru": "BG Image"
			}
		}		
	],
	"presets": [
		{
			"name": {
				"en": "Info Banner",
				"ru": "Info Banner"
			},
			"category": {
				"en": "Home Page",
				"ru": "Home Page"
			}
		}
	]
}
{% endschema %}