<div class="title-head">
  <div class="container-lg" style="max-width: 760px">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="content-block">
  <div class="container-lg" style="max-width: 1130px">
		{% assign tabs = section.blocks | map: 'settings' | map: 'portfolio_category' | uniq %}
    <div class="portfolio-wrapper">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
				{% for item in tabs %}
					<li class="nav-item" role="presentation">
						<a
							class="nav-link {% if forloop.first == true %}active{% endif %}"
							id="pills-profile-tab"
							data-toggle="pill"
							href="#{{item | handleize}}"
							role="tab"
							aria-controls="pills-profile"
							aria-selected="{% if forloop.first == true %}true{% else %}false{% endif %}"
							>{{item}}</a
						>
					</li>
				{% endfor %}
      </ul>
      <div class="tab-content" id="pills-tabContent">

				{% for item in tabs %}
        <div
          class="tab-pane fade {% if forloop.first == true %}show active{% endif %}"
          id="{{item | handleize}}"
          role="tabpanel"
          aria-labelledby="{{item | handleize}}-tab"
				>
				
					<div class="portfolio_items_left">
						{% assign tabs_inner_left = section.blocks | map: 'settings' | where: 'portfolio_category', item | where: 'portfolio_img_side', 'left' %}
						{% for item in tabs_inner_left %}
							<div class="portfolio_item" style="text-align: {{item.portfolio_img_pos}}">
								<img class="lazyload" src="{{ item.portfolio_image | img_url: '12x12' }}"
										data-src="{{ item.portfolio_image | img_url: 'master'}}"
										data-sizes="auto" alt="{{ item.portfolio_image_alt }}"
										width="{{item.portfolio_image.width}}"
										
										/>
							</div>
						{% endfor %}
					</div>
					<div class="portfolio_items_right">
						{% assign tabs_inner_right = section.blocks | map: 'settings' | where: 'portfolio_category', item | where: 'portfolio_img_side', 'right' %}
						{% for item in tabs_inner_right %}
							<div class="portfolio_item" style="text-align: {{item.portfolio_img_pos}}">
								<img class="lazyload" src="{{ item.portfolio_image | img_url: '12x12' }}"
										data-src="{{ item.portfolio_image | img_url: 'master'}}"
										data-sizes="auto" alt="{{ item.portfolio_image_alt }}"
										width="{{item.portfolio_image.width}}"
									
										/>
							</div>
						{% endfor %}
					</div>

        </div>
				{% endfor %}

      </div>
    </div>
  </div>
</div>

<!-- <p>	{{ item.portfolio_image }}
	{{ item.portfolio_img_side }}
	{{ item.portfolio_img_pos }}</p> -->
{% schema %}
{
  "name": {
    "en": "Portfolio"
	},
	"settings": [
		{
			"type": "header",
			"content": {
				"en": "Main Settings",
				"ru": "Main Settings"
			}
		}
	],
	"blocks": [
		{
			"type": "portfolio_items",
			"name": {
				"en" : "Portfolio Items",
				"ru" : "Portfolio Items"
			},
			"settings": [
				{
					"id": "portfolio_category",
					"type": "text",
					"label": {
						"en" : "Category Name",
						"ru" : "Category Name"
					}
				},
				{
					"id": "portfolio_image",
					"type": "image_picker",
					"label": {
						"en" : "Image",
						"ru" : "Image"
					}
				},
				{
					"id": "portfolio_image_alt",
					"type": "text",
					"label": {
						"en" : "Img alt",
						"ru" : "Img alt"
					}
				},
				{
					"id": "portfolio_img_side",
					"type": "select",
					"label": {
						"en" : "Image Location/Side",
						"ru" : "Image Location/Side"
					},
					"options": [
						{
							"value": "left",
							"label": "left"
						},
						{
							"value": "right",
							"label": "right"
						}
					],
					"default": "left"
				},
				{
					"id": "portfolio_img_pos",
					"type": "select",
					"label": {
						"en" : "Image Position",
						"ru" : "Image Position"
					},
					"options": [
						{
							"value": "left",
							"label": "left"
						},
						{
							"value": "center",
							"label": "center"
						},
						{
							"value": "right",
							"label": "right"
						}
					],
					"default": "left"
				}
			]
		}
	]
}
{% endschema %}