<section data-section-id="{{ section.id }}" class="testimonials" data-active-item="1">
	<div class="container-fluid container-lg">
		<div class="row">
			<div class="col-12">
				<div class="testimonial_blocks_wrapper">
					<div class="testimonial_blocks">
						
							<div class="testimonial_item">
								<div class="testimonial_item_inner">
									<div class="arrows">
										<button class="arrow arrow-prev" disabled style="opacity: ;"></button>
										<button class="arrow arrow-next"></button>
									</div>
									<div class="item_left">
										
										{% for block in section.blocks %}
											<div class="item_left_inner">
											{% if block.settings.test_text != '' %}
											<div class="item_txt">
												{{block.settings.test_text}}
											</div>
											{% endif %}
											{% if block.settings.test_name != '' %}
											<div class="item_name">
												– {{block.settings.test_name}}
											</div>
											{% endif %}
											{% if block.settings.test_b_txt != '' %}
											<a href="{{ block.settings.test_b_url }}" class="primary-button">{{ block.settings.test_b_txt }}</a>
											{% endif %}
											</div>
										{% endfor %}
									</div>
									<div class="item_right">
										<div class="item_right_inner">
										{% for block in section.blocks %}
											{% if block.settings.test_img %}
											<div class="item_img">
												<figure>
												<img class="lazyload" src="{{ block.settings.test_img | img_url: '12x12' }}"
												data-src="{{ block.settings.test_img | img_url: '1000x'}}"
												data-sizes="auto" alt="{{ block.settings.test_name }}"/>
												</figure>
											</div>
											{% endif %}
										{% endfor %}
										</div>
									</div>
								</div>
							</div>
						
					</div>
				</div>				
			</div>
		</div>
	</div>
</section>

{% schema %}
{
  "name": {
    "en": "Testimonials"
	},
	"class" : "testimonials-section",
	"max_blocks": 5,
	"blocks": [
		{
			"type": "testimonials",
			"name": {
				"en" : "Testimonial Items",
				"ru" : "Testimonial Items"
			},
			"settings": [
				{
					"id": "test_text",
					"type": "richtext",
					"label": {
						"en" : "Text",
						"ru" : "Text"
					},
					"default" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
				},
				{
					"id": "test_name",
					"type": "text",
					"label": {
						"en" : "Name",
						"ru" : "Name"
					},
					"default" : "Alice, Moscow"
				},
				{
					"id": "test_b_txt",
					"type": "text",
					"label": {
						"en" : "Button Text",
						"ru" : "Button Text"
					}
				},
				{
					"id": "test_b_url",
					"type": "url",
					"label": {
						"en" : "Button Url",
						"ru" : "Button Url"
					}
				},
				{
					"id": "test_img",
					"type": "image_picker",
					"label": {
						"en" : "Image",
						"ru" : "Image"
					}
				}
			]
		}
	],
	"presets": [
		{
			"name": {
				"en": "Testimonials",
				"ru": "Testimonials"
			},
			"category": {
				"en": "Home Page",
				"ru": "Home Page"
			}
		}
	]
}
{% endschema %}